@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('./fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url('./fonts/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light Italic';
  src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url('./fonts/Roboto-MediumItalic.ttf') format('truetype');
}
