@import "../../node_modules/weather-icons/css/weather-icons.min.css";
@import '_fonts';

$background: #edbbb2;
$white: #ffffff;
$black: #1c2431;
$grey: #939393;
$orange: #fe5a3f;
$blue: #5c85ec;
$purple: #675184;
$green: #1ca754;
$yellow: #fedd02;

$padding4: 4px;
$padding8: 8px;
$padding12: 12px;
$padding16: 16px;

$desktop: 768px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: $background;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  header a {
    color: $white;
    text-decoration: none;
    padding: $padding8;
    display: block;
  }
}

.weather-grid {
    margin: 0;
    display: grid;
    height: 50vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 65% 25%;
    grid-template-areas:
            "city city city city"
            "temp temp info info"
            "day day day day";

  @include desktop {

    margin-left: auto;
    margin-right: auto;
    width: 512px;
  }
}

.weather-city-title {
  grid-area: city;
  background-color: $orange;
  height: 16px;

  p {
    //margin: $padding4;
    text-align: left;
    vertical-align: center;
  }
}

.weather-temperature {
  grid-area: temp;
  background-color: $yellow;
}

.weather-info {
  grid-area: info;
  background-color: $blue;
}

.weather-day-grid {
  grid-area: day;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weather-day {
  background-color: $white;
  border-color: #1ca754;
  border-style: solid;
  border-right: 1px;
}

.search-form {
  position: relative;
  display: inline-flex;
  width: 100%;
  padding: $padding8 0 $padding8 0;

  input {
    border: 1px solid transparent;
    background-color: $white;
    color: $black;
    padding: 10px;
    font-size: 16px;
    width: inherit;
    border-radius: 20px;
    margin: 0 $padding8 0 $padding8;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  button[type=submit] {
    border: 1px solid transparent;
    background-color: $orange;
    cursor: pointer;
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    border-radius: 50%;
    margin-right: $padding8;

    svg {
      fill: $black;
      padding-top: 4px;
      width: 25px;
      height: 25px;
    }
  }
}