@import '~weather-icons2/css/weather-icons.min.css';
@import '~weather-icons2/css/weather-icons-wind.min.css';
@import '_fonts';

$background: #edbbb2;
$white: #ffffff;
$black: #1c2431;
$grey: #939393;
$orange: #fe5a3f;
$blue: #5c85ec;
$purple: #675184;
$green: #1ca754;
$yellow: #fedd02;

$padding4: 4px;
$padding8: 8px;
$padding12: 12px;
$padding16: 16px;

$desktop: 768px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  background: $background;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  header a {
    color: $white;
    text-decoration: none;
    padding: $padding8;
    display: block;
  }
}

.weather-grid {
  margin: 0;
  display: grid;
  height: 50vh;
  min-height: 400px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: minmax(40px, 10%) minmax(250px, 65%) 25%;
  grid-template-areas:
          "city city city city"
          "temp temp info info"
          "day day day day";

  @include desktop {
    margin-left: auto;
    margin-right: auto;
    width: 512px;
  }
}

.weather-city-title {
  grid-area: city;

  :after {
    content: "";
    display: block;
    padding: 0 8px 8px 8px;
    border-bottom: 1px solid $white;
  }

  p {
    margin: $padding8;
    font-size: 20px;
    text-align: left;
  }
}

.weather-temperature {
  grid-area: temp;
  position: relative;

  :after {
    content: '';
    position: absolute;
    top: 16px;
    right: 0;
    bottom: 0;
    margin-bottom: 16px;
    border-right: 1px solid $white;
  }

  p {
    font-family: "Roboto Medium";
    margin: $padding8;
    font-size: 56px;
    text-align: center;
  }

  i {
    margin-top: 16px;
    display: inline-block;
    width: 100%;
    text-align:center;
    font-size: 95px;
    color: $black;
  }
}

.weather-description {
  font-family: "Roboto Medium";
  margin: $padding8;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.weather-info {
  grid-area: info;
  padding-top: 24px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px,1fr));

  i {
    margin: 8px;
    padding-left: $padding8;
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 24px;
    color: $black;

    span {
      font-family: "Roboto Medium";
    }
  }
}

.weather-forecast-grid {
  grid-area: day;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;

  #border-top {
    border-top: 1px solid $white;
    position: absolute;
    left:8px;
    right: 8px;
  }

  #border-bottom {
    border-bottom: 1px solid $white;
    position: absolute;
    left:8px;
    right: 8px;
    bottom: 0;
    margin-bottom: -32px;
  }
}

.weather-forecast-item {
  position: relative;

  #date {
    text-align: left;
  }
  #temperature {
    text-align: right;
  }

  p {
    font-family: "Roboto Medium";
    margin: $padding8;
    font-size: 20px;
  }

  i {
    display: inline-block;
    width: 100%;
    text-align:center;
    font-size: 36px;
    color: $black;
  }

  :after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 0;
    border-right: 1px solid $white;
  }
}

.weather-forecast-item:nth-child(5) {
  border: 0;

  :after {
    border: 0;
  }
}

.search-box {
  text-align: center;
}

.search-form {
  position: relative;
  display: inline-flex;
  width: 100%;
  padding: $padding8 0 $padding8 0;

  input {
    border: 1px solid transparent;
    background-color: $white;
    color: $black;
    padding: 10px;
    font-size: 16px;
    width: inherit;
    border-radius: 20px;
    margin: 0 $padding8 0 $padding8;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  button[type=submit] {
    border: 1px solid transparent;
    background-color: $orange;
    cursor: pointer;
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    border-radius: 50%;
    margin-right: $padding8;

    svg {
      fill: $black;
      padding-top: 4px;
      width: 25px;
      height: 25px;
    }
  }

  @include desktop {
    width: 512px;
  }
}

.pac-logo:after {
  display: none;
}

.pac-container:after {
  display: none;
}

.map-container-element {
  height: 300px;
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    width: $desktop;
  }
}

.map-element {
  height: 100%;
}
